.grid-container {
    padding-top: 20px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; /* Adjust the gap between images */
    box-shadow: 5px 5px 5px black;
    /* box-sizing: 300px; */
    /* justify-content:left; */
    /* grid-auto-columns:auto; */
    /* grid-auto-rows:auto; */
  }
  
  .grid-item img {
    width: 20%;
    height: auto;
  }
  .add-cart{
    text-align:center;
  }